{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Доставка и оплата</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
    </div>
    <div class="about-page">
        <section class="logo">
            <div class="container">
                <img src="catalog/view/theme/makeme/image/aboutPage/logoBig.svg" alt="#" class="lazy logo__img">
            </div>
        </section>
        <section class="stages">
            <div class="container">
                <img
                        src="catalog/view/theme/makeme/image/aboutPage/girlInMask.png"
                        data-srcset="
                catalog/view/theme/makeme/image/aboutPage/girlInMask.png 767w, 
                catalog/view/theme/makeme/image/aboutPage/girlInMask@2x.png 1199w, 
                catalog/view/theme/makeme/image/aboutPage/girlInMask@3x.png 1920w
              "
                        alt="#"
                        class="lazy stages__img"
                >
                <ol class="stages__list">
                    <li class="stages__list-el">
                        <span class="stages__list-el-number">1</span>
                        <h4 class="stages__list-el-title">Создание рецептуры</h4>
                        <p class="stages__list-el-text">
                            Мы создаем средства по твои рецептам. Косметика производится исключительно на
                            профессиональном оборудовании
                        </p>
                    </li>
                    <li class="stages__list-el">
                        <span class="stages__list-el-number">2</span>
                        <h4 class="stages__list-el-title">Заказ своего средства</h4>
                        <p class="stages__list-el-text">Мы создаем средства по твои рецептам. Косметика производится
                            исключительно на профессиональном оборудовании</p>
                    </li>
                    <li class="stages__list-el">
                        <span class="stages__list-el-number">3</span>
                        <h4 class="stages__list-el-title">Производство</h4>
                        <p class="stages__list-el-text">Мы создаем средства по твои рецептам. Косметика производится
                            исключительно на профессиональном оборудовании</p>
                    </li>
                    <li class="stages__list-el">
                        <span class="stages__list-el-number">4</span>
                        <h4 class="stages__list-el-title">Доставка</h4>
                        <p class="stages__list-el-text">Мы создаем средства по твои рецептам. Косметика производится
                            исключительно на профессиональном оборудовании</p>
                    </li>
                </ol>
            </div>
        </section>
        <section class="aboutProduct">
            <img src="catalog/view/theme/makeme/image/aboutPage/aboutShampooBG.png" alt="#" class="lazy parallaxBalls">
            <div class="container">
                <img
                        src="catalog/view/theme/makeme/image/aboutPage/shampoo2.png"
                        data-srcset="
                catalog/view/theme/makeme/image/aboutPage/shampoo2.png 767w,
                catalog/view/theme/makeme/image/aboutPage/shampoo2@2x.png 1199w,
                catalog/view/theme/makeme/image/aboutPage/shampoo2@3x.png 1920w
              "
                        alt="#"
                        class="lazy aboutProduct__img"
                >
                <ul class="aboutProduct__list">
                    <li class="aboutProduct__list-el">
                        <img src="catalog/view/theme/makeme/image/aboutPage/aboutIcon1.svg" alt="#"
                             class="lazy aboutProduct__list-el-icon">
                        <h4 class="aboutProduct__list-el-title">Индивидуальное производство</h4>
                        <p class="aboutProduct__list-el-text">Мы создаем средства по твои рецептам. Самая современная
                            лаборатория.В своей работе мы используем натуральное сырье, которое соответствует
                            международным стандартам.</p>
                    </li>
                    <li class="aboutProduct__list-el">
                        <img src="catalog/view/theme/makeme/image/aboutPage/aboutIcon2.svg" alt="#"
                             class="lazy aboutProduct__list-el-icon">
                        <h4 class="aboutProduct__list-el-title">Онлайн лабаратория</h4>
                        <p class="aboutProduct__list-el-text">Мы создаем средства по твои рецептам. Косметика
                            производится исключительно на профессиональном оборудовании по специальной лабораторной
                            стали и других материалов, которые должны быть на производстве.</p>
                    </li>
                    <li class="aboutProduct__list-el">
                        <img src="catalog/view/theme/makeme/image/aboutPage/aboutIcon3.svg" alt="#"
                             class="lazy aboutProduct__list-el-icon">
                        <h4 class="aboutProduct__list-el-title">Натуральные составы</h4>
                        <p class="aboutProduct__list-el-text">Мы создаем средства по твои рецептам. Самая современная
                            лаборатория.В своей работе мы используем натуральное сырье, которое соответствует
                            международным стандартам.</p>
                    </li>
                    <li class="aboutProduct__list-el">
                        <img src="catalog/view/theme/makeme/image/aboutPage/aboutIcon4.svg" alt="#"
                             class="lazy aboutProduct__list-el-icon">
                        <h4 class="aboutProduct__list-el-title">Натуральные составы</h4>
                        <p class="aboutProduct__list-el-text">Мы создаем средства по твои рецептам. Самая современная
                            лаборатория. В своей работе мы используем натуральное сырье, которое соответствует
                            международным стандартам.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="infoBlock">
            <div class="container">
                <div class="row flex-lg-row-reverse">
                    <div class="col-md-6 position-relative">
                        <img src="catalog/view/theme/makeme/image/aboutPage/aboutWithUsBG.png" alt="#"
                             class="lazy parallaxBalls">
                        <div class="infoBlock__imgContainer">
                            <img
                                    src="catalog/view/theme/makeme/image/aboutPage/aboutWithUsImg.png"
                                    data-srcset="
                      catalog/view/theme/makeme/image/aboutPage/aboutWithUsImg.png 767w, 
                      catalog/view/theme/makeme/image/aboutPage/aboutWithUsImg@2x.png 1199w, 
                      catalog/view/theme/makeme/image/aboutPage/aboutWithUsImg@3x.png 1920w
                    "
                                    alt="#"
                                    class="lazy infoBlock__img"
                            >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title">Здесь. С нами. <span class="color-primary">В моменте.</span>
                            </h2>
                            <p class="infoBlock__text">На планете 8 миллиардов вас, каждый со своими волосами, кожей,
                                настроением, стилем и предпочтениями. Итак, мы можем предположить, что вы все хотите
                                лечить и ухаживать за своими волосами, кожей и телом одинаково, верно? Да, нам это тоже
                                показалось неуместным.<br><br>
                                Назови нас сумасшедшими, но мы думаем, что для удовлетворения всех этих уникальных людей
                                требуется нечто большее, чем одна или две формулы. Вот где мы вступаем в игру.</p>
                            <a href="{{ constructor }}" class="button button--main button--arrow infoBlock__button">Создать
                                средство</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img src="catalog/view/theme/makeme/image/aboutPage/footerBubbles.png" alt="#" class="lazy footerBubbles">
    </div>
</main>
{{ footer }}

{#{{ header }}#}
{#<div id="information-contact" class="container">#}
{#  <ul class="breadcrumb">#}
{#    {% for breadcrumb in breadcrumbs %}#}
{#    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#  <div class="row">{{ column_left }}#}
{#    {% if column_left and column_right %}#}
{#    {% set class = 'col-sm-6' %}#}
{#    {% elseif column_left or column_right %}#}
{#    {% set class = 'col-sm-9' %}#}
{#    {% else %}#}
{#    {% set class = 'col-sm-12' %}#}
{#    {% endif %}#}
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <h1>{{ heading_title }}</h1>#}
{#      <h3>{{ text_location }}</h3>#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-body">#}
{#          <div class="row">#}
{#            {% if image %}#}
{#            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>#}
{#            {% endif %}#}
{#            <div class="col-sm-3"><strong>{{ store }}</strong><br />#}
{#              <address>#}
{#              {{ address }}#}
{#              </address>#}
{#              {% if geocode %}#}
{#              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>#}
{#              {{ telephone }}<br />#}
{#              <br />#}
{#              {% if fax %}#}
{#              <strong>{{ text_fax }}</strong><br>#}
{#              {{ fax }}#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              {% if open %}#}
{#              <strong>{{ text_open }}</strong><br />#}
{#              {{ open }}<br />#}
{#              <br />#}
{#              {% endif %}#}
{#              {% if comment %}#}
{#              <strong>{{ text_comment }}</strong><br />#}
{#              {{ comment }}#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      {% if locations %}#}
{#      <h3>{{ text_store }}</h3>#}
{#      <div class="panel-group" id="accordion">#}
{#        {% for location in locations %}#}
{#        <div class="panel panel-default">#}
{#          <div class="panel-heading">#}
{#            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>#}
{#          </div>#}
{#          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                {% if location.image %}#}
{#                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>#}
{#                {% endif %}#}
{#                <div class="col-sm-3"><strong>{{ location.name }}</strong><br />#}
{#                  <address>#}
{#                  {{ location.address }}#}
{#                  </address>#}
{#                  {% if location.geocode %}#}
{#                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>#}
{#                  {{ location.telephone }}<br />#}
{#                  <br />#}
{#                  {% if location.fax %}#}
{#                  <strong>{{ text_fax }}</strong><br>#}
{#                  {{ location.fax }}#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3">#}
{#                  {% if location.open %}#}
{#                  <strong>{{ text_open }}</strong><br />#}
{#                  {{ location.open }}<br />#}
{#                  <br />#}
{#                  {% endif %}#}
{#                  {% if location.comment %}#}
{#                  <strong>{{ text_comment }}</strong><br />#}
{#                  {{ location.comment }}#}
{#                  {% endif %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% endif %}#}
{#      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
{#        <fieldset>#}
{#          <legend>{{ text_contact }}</legend>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />#}
{#              {% if error_name %}#}
{#              <div class="text-danger">{{ error_name }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />#}
{#              {% if error_email %}#}
{#              <div class="text-danger">{{ error_email }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>#}
{#            <div class="col-sm-10">#}
{#              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>#}
{#              {% if error_enquiry %}#}
{#              <div class="text-danger">{{ error_enquiry }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          {{ captcha }}#}
{#        </fieldset>#}
{#        <div class="buttons">#}
{#          <div class="pull-right">#}
{#            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />#}
{#          </div>#}
{#        </div>#}
{#      </form>#}
{#      {{ content_bottom }}</div>#}
{#    {{ column_right }}</div>#}
{#</div>#}
{#{{ footer }}#}
