{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <div class="mmclub-page">
            <article class="section infoBlock infoBlock--hero">
                <div class="row flex-md-row-reverse">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img1.jpg" alt="#"
                                 class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles1.png" alt="#"
                             class="lazy parallaxBalls parallaxBalls--1">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">MakeMy Club</span> - место крутых
                                предложений</h2>
                            <p class="infoBlock__text">Давно выяснено, что при оценке дизайна и композиции читаемый
                                текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более
                                или менее стандартное заполнение шаблона.</p>
                            <a href="#" class="button button--stroke infoBlock__button">Вступить в клуб</a>
                        </div>
                    </div>
                </div>
                <img src="catalog/view/theme/makeme/image/mmclubPage/100.png" alt="#"
                     class="lazy infoBlock__uniqueLogo">
            </article>
            <article class="section infoBlock">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer rightSide">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img2.jpg" alt="#"
                                 class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles2.png" alt="#"
                             class="lazy parallaxBalls parallaxBalls--2">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Подарок</span> на день рождения
                            </h2>
                            <p class="infoBlock__text">MAKEMY Club не может пропустить это важное событие! И уже
                                подготовил приятный сюрприз — подарок к вашему дню рождения.<br><br>

                                <span class="font-weight-bold"> Что вы получаете:</span> приятную скидку при оформлении
                                праздничного заказа. Добавляя в корзину позиции на сумму от 200 грн, вы получите скидку
                                в размере 50 грн, а при заказе от 699 грн – 100 грн в подарок. При этом наш
                                Birthday-бонус будет суммироваться с действующими акционными предложениям и другими
                                актуальными скидками. <br><br>

                                <span class="font-weight-bold"> Что для этого нужно:</span> укажите дату рождения в
                                личном кабинете и подтвердите согласие получать соответствующую рассылку в личном
                                кабинете.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="section infoBlock">
                <div class="row flex-md-row-reverse">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img3.jpg" alt="#"
                                 class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles3.png" alt="#"
                             class="lazy parallaxBalls parallaxBalls--3">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Подарок</span> на Новый Год</h2>
                            <p class="infoBlock__text">Мы отмечаем Новый год по нашим правилам! При оформлении заказа
                                под вашей учетной записью мы запомним дату первого заказа и непременно поздравим вас на
                                годовщину.<br><br>

                                <span class="font-weight-bold">Что вы получаете:</span> один из предложенных сюрпризов
                                от MAKEMY. Это могут быть аксессуары или другие бьюти-продукты.<br><br>

                                <span class="font-weight-bold">Что для этого нужно:</span> просто добавьте в корзину
                                продукты на сумму от 200 гривен, и при оформлении заказа под вашим логином/паролем
                                система предложит вам несколько презентов на выбор.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="section infoBlock">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer rightSide">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img4.jpg" alt="#"
                                 class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles4.png" alt="#"
                             class="lazy parallaxBalls parallaxBalls--4">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Акции</span>, <span
                                        class="color-primary">скидки</span> и <span class="color-primary">бонусы</span>
                            </h2>
                            <p class="infoBlock__text">Мы постоянно готовим сюрпризы для всех участников MAKEMY Beauty
                                Club. Получайте максимум привилегий и освобождайте место в своих косметичках для новых
                                бьюти-фаворитов!<br><br>

                                <span class="font-weight-bold">Что вы получаете:</span> все участники клуба получают наш
                                специальный дайджест. Будьте в курсе новых акций и подарков от множества брендов.
                                Получайте рассылку на свой email и выбирайте самые вкусные предложения!<br><br>

                                <span class="font-weight-bold">Что для этого нужно:</span> укажите свой email в личном
                                кабинете, в разделе "Управление подписками" подтвердите уведомления, которые Вы хотели
                                бы получать, и не забывайте проверять почту. </p>
                            <a href="#" class="button button--stroke infoBlock__button">Вступить в клуб</a>
                        </div>
                    </div>
                </div>
            </article>
            {{ content_bottom }}
            {{ looked_products }}
        </div>
    </div>

</main>
{{ footer }}
