{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <div class="mmclub-page">
            <article class="section infoBlock infoBlock--hero">
                <div class="row flex-md-row-reverse">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img1.jpg" alt="#" class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles1.png" alt="#" class="lazy parallaxBalls parallaxBalls--1">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">MakeMy Club</span> - место крутых предложений</h2>
                            <p class="infoBlock__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                            <a href="#" class="button button--stroke infoBlock__button">Вступить в клуб</a>
                        </div>
                    </div>
                </div>
                <img src="catalog/view/theme/makeme/image/mmclubPage/100.png" alt="#" class="lazy infoBlock__uniqueLogo">
            </article>
            <article class="section infoBlock">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer rightSide">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img2.jpg" alt="#" class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles2.png" alt="#" class="lazy parallaxBalls parallaxBalls--2">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Подарок</span> на день рождения</h2>
                            <p class="infoBlock__text">MAKEMY  Club не может пропустить это важное событие! И уже подготовил приятный сюрприз — подарок к вашему дню рождения.<br><br>

                                <span class="font-weight-bold"> Что вы получаете:</span> приятную скидку при оформлении праздничного заказа. Добавляя в корзину позиции на сумму от 200 грн, вы получите скидку в размере 50 грн, а при заказе от 699 грн – 100 грн в подарок. При этом наш Birthday-бонус будет суммироваться с действующими акционными предложениям и другими актуальными скидками. <br><br>

                                <span class="font-weight-bold"> Что для этого нужно:</span> укажите дату рождения в личном кабинете и подтвердите согласие получать соответствующую рассылку в личном кабинете.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="section infoBlock">
                <div class="row flex-md-row-reverse">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img3.jpg" alt="#" class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles3.png" alt="#" class="lazy parallaxBalls parallaxBalls--3">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Подарок</span> на Новый Год</h2>
                            <p class="infoBlock__text">Мы отмечаем Новый год по нашим правилам! При оформлении заказа под вашей учетной записью мы запомним дату первого заказа и непременно поздравим вас на годовщину.<br><br>

                                <span class="font-weight-bold">Что вы получаете:</span> один из предложенных сюрпризов от MAKEMY. Это могут быть аксессуары или другие бьюти-продукты.<br><br>

                                <span class="font-weight-bold">Что для этого нужно:</span> просто добавьте в корзину продукты на сумму от 200 гривен, и при оформлении заказа под вашим логином/паролем система предложит вам несколько презентов на выбор.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="section infoBlock">
                <div class="row">
                    <div class="col-md-6 position-relative">
                        <div class="infoBlock__imgContainer rightSide">
                            <img src="catalog/view/theme/makeme/image/mmclubPage/img4.jpg" alt="#" class="lazy infoBlock__img">
                        </div>
                        <img src="catalog/view/theme/makeme/image/mmclubPage/bubbles4.png" alt="#" class="lazy parallaxBalls parallaxBalls--4">
                    </div>
                    <div class="col-md-6">
                        <div class="infoBlock__body">
                            <h2 class="infoBlock__title"><span class="color-primary">Акции</span>, <span class="color-primary">скидки</span> и <span class="color-primary">бонусы</span></h2>
                            <p class="infoBlock__text">Мы постоянно готовим сюрпризы для всех участников MAKEMY Beauty Club. Получайте максимум привилегий и освобождайте место в своих косметичках для новых бьюти-фаворитов!<br><br>

                                <span class="font-weight-bold">Что вы получаете:</span> все участники клуба получают наш специальный дайджест. Будьте в курсе новых акций и подарков от множества брендов. Получайте рассылку на свой email и выбирайте самые вкусные предложения!<br><br>

                                <span class="font-weight-bold">Что для этого нужно:</span> укажите свой email в личном кабинете, в разделе "Управление подписками" подтвердите уведомления, которые Вы хотели бы получать, и не забывайте проверять почту. </p>
                            <a href="#" class="button button--stroke infoBlock__button">Вступить в клуб</a>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="section createYours">
                <div class="createYours__title">Создай <span class="color-primary">свое!</span></div>
                <p class="createYours__text">Вместе с тобой мы создадим неповторимую косметику именно для тебя! Каждая баночка на 100% индивидуальна.</p>
                <a href="#" class="button button--stroke createYours__button">Создать средство</a>
            </aside>
            <section class="section">
                <div class="section__header d-flex align-items-center justify-content-between flex-wrap">
                    <h2 class="section__title mr-4"><span class="color-primary">Просмотренные</span> ранее</h2>
                    <a href="#" class="showMore">Смотреть больше</a>
                </div>
                <div class="owl-carousel carousel-4els transparentProductCards">
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--stock">-10%</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                                <span class="productCard__price-old">344 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--new">NEW</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано специалистами  <br> нашей лаборатории
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--stock">-10%</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                                <span class="productCard__price-old">344 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                                <span class="productCard__price-old">344 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--new">NEW</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано специалистами  <br> нашей лаборатории
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                            </div>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productCard__feature productCard__feature--stock">-10%</div>
                        <div class="productCard__producer">
                  <span class="productCard__producer-toggle">
                    <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                  </span>
                            <p class="productCard__producer-text">
                                Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                            </p>
                        </div>
                        <a href="#" class="productCard__imgContainer">
                            <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                <span class="productCard__rating-el"></span>
                            </div>
                            <a href="#" class="productCard__type">Молочко для тела</a>
                            <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                            <div class="productCard__price">
                                <span class="productCard__price-actual">244 ₴</span>
                                <span class="productCard__price-old">344 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</main>
{{ footer }}

{#{{ header }}#}
{#<div id="information-contact" class="container">#}
{#  <ul class="breadcrumb">#}
{#    {% for breadcrumb in breadcrumbs %}#}
{#    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#  <div class="row">{{ column_left }}#}
{#    {% if column_left and column_right %}#}
{#    {% set class = 'col-sm-6' %}#}
{#    {% elseif column_left or column_right %}#}
{#    {% set class = 'col-sm-9' %}#}
{#    {% else %}#}
{#    {% set class = 'col-sm-12' %}#}
{#    {% endif %}#}
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <h1>{{ heading_title }}</h1>#}
{#      <h3>{{ text_location }}</h3>#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-body">#}
{#          <div class="row">#}
{#            {% if image %}#}
{#            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>#}
{#            {% endif %}#}
{#            <div class="col-sm-3"><strong>{{ store }}</strong><br />#}
{#              <address>#}
{#              {{ address }}#}
{#              </address>#}
{#              {% if geocode %}#}
{#              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>#}
{#              {{ telephone }}<br />#}
{#              <br />#}
{#              {% if fax %}#}
{#              <strong>{{ text_fax }}</strong><br>#}
{#              {{ fax }}#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              {% if open %}#}
{#              <strong>{{ text_open }}</strong><br />#}
{#              {{ open }}<br />#}
{#              <br />#}
{#              {% endif %}#}
{#              {% if comment %}#}
{#              <strong>{{ text_comment }}</strong><br />#}
{#              {{ comment }}#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      {% if locations %}#}
{#      <h3>{{ text_store }}</h3>#}
{#      <div class="panel-group" id="accordion">#}
{#        {% for location in locations %}#}
{#        <div class="panel panel-default">#}
{#          <div class="panel-heading">#}
{#            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>#}
{#          </div>#}
{#          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                {% if location.image %}#}
{#                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>#}
{#                {% endif %}#}
{#                <div class="col-sm-3"><strong>{{ location.name }}</strong><br />#}
{#                  <address>#}
{#                  {{ location.address }}#}
{#                  </address>#}
{#                  {% if location.geocode %}#}
{#                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>#}
{#                  {{ location.telephone }}<br />#}
{#                  <br />#}
{#                  {% if location.fax %}#}
{#                  <strong>{{ text_fax }}</strong><br>#}
{#                  {{ location.fax }}#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3">#}
{#                  {% if location.open %}#}
{#                  <strong>{{ text_open }}</strong><br />#}
{#                  {{ location.open }}<br />#}
{#                  <br />#}
{#                  {% endif %}#}
{#                  {% if location.comment %}#}
{#                  <strong>{{ text_comment }}</strong><br />#}
{#                  {{ location.comment }}#}
{#                  {% endif %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% endif %}#}
{#      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
{#        <fieldset>#}
{#          <legend>{{ text_contact }}</legend>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />#}
{#              {% if error_name %}#}
{#              <div class="text-danger">{{ error_name }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />#}
{#              {% if error_email %}#}
{#              <div class="text-danger">{{ error_email }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>#}
{#            <div class="col-sm-10">#}
{#              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>#}
{#              {% if error_enquiry %}#}
{#              <div class="text-danger">{{ error_enquiry }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          {{ captcha }}#}
{#        </fieldset>#}
{#        <div class="buttons">#}
{#          <div class="pull-right">#}
{#            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />#}
{#          </div>#}
{#        </div>#}
{#      </form>#}
{#      {{ content_bottom }}</div>#}
{#    {{ column_right }}</div>#}
{#</div>#}
{#{{ footer }}#}
