<section class="section uniqueCarousel__container">
    <div class="section__header mb-4">
        <h2 class="section__title mr-4">Каждая баночка <span class="color-primary">уникальна!</span>
        </h2>
        <p class="text--simple font-weight-medium pb-3">Больше не надо переживать о том подойдет ли тебе
            крем. <br>
            Теперь ты сама можешь создать уход для себя.</p>
    </div>
    <div class="owl-carousel carousel-4els transparentProductCards uniqueCarousel">
        {% for product in products %}
            <div class="productCard productCard--mask">
                <div class="productCard__feature productCard__feature--stock">-10%</div>
                <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"
{#                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"#}
                       class="lazy productCard__producer-icon">
                </span>
                    <p class="productCard__producer-text">
                        Средство создано селебрети <br> <span
                                class="font-weight-bold">@mariia123_hello</span>
                    </p>
                </div>
                <a href="{{ product.href }}" class="productCard__imgContainer">
{#                    <img src="catalog/view/theme/makeme/image/home/shampoo.png" alt="#"#}
                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                         class="lazy productCard__img">
                </a>


                <div class="productCard__body">
                    <div class="productCard__rating">
                        {% for i in 5 %}
                            {% if product.rating >= i %}
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                            {% else %}
                                <span class="productCard__rating-el"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{ product.href }}" class="productCard__type">{{ product.name }}</a>
                    <a href="{{ product.href }}" class="productCard__name">{{ product.description }}</a>

                    {% if product.price %}
                        <div class="productCard__price">
                            {% if not product.special %}
                                <span class="productCard__price-actual">{{ product.price }} ₴</span>
                            {% else %}
                                <span class="price-new">{{ product.special }}</span> <span
                                    class="price-old">{{ product.price }}</span>
                            {% endif %}
                            {% if product.tax %}
{#                                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                            {% endif %}
                        </div>
                    {% endif %}

                    <a href="{{ constructor }}" class="button button--primary productCard__button">Создать <span
                                class="d-sm-inline d-none">&nbsp;средство</span> </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>