<section class="section">
    <div class="section__header d-flex align-items-center justify-content-between flex-wrap">
        <h2 class="section__title mr-4"><span class="color-primary">Популярные</span> товары</h2>
        <a href="#" class="showMore">Смотреть больше</a>
    </div>
    <div class="owl-carousel carousel-4els transparentProductCards">
        {% for product in products %}
        <div class="productCard">
{#            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
            <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="selebrity"
                       class="lazy productCard__producer-icon">
                </span>
                {% if product.is_receipt %}
                <p class="productCard__producer-text">
                    Средство создано селебрети <br> {% if product.author_name %}
                        <span class="font-weight-bold">@{{ product.author_name }}</span>
                    {% endif %}
                </p>
                {% endif %}
            </div>
            <a href="{{ product.href }}" class="productCard__imgContainer">
                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                     class="lazy productCard__img">
            </a>
            <div class="productCard__body">
                <div class="productCard__rating">
                    {% for i in 5 %}
                        {% if product.rating >= i %}
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                        {% else %}
                            <span class="productCard__rating-el"></span>
                        {% endif %}
                    {% endfor %}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
                </div>
                <a href="{{ product.href }}" class="productCard__type">{{ product.name }}</a>
                <a href="{{ product.href }}" class="productCard__name">{{ product.description }}</a>

                {% if product.price %}
                    <div class="productCard__price">
                        {% if not product.special %}
                            <span class="productCard__price-actual">{{ product.price }} ₴</span>
                        {% else %}
                            <span class="price-new">{{ product.special }}</span> <span
                                class="price-old">{{ product.price }}</span>
                        {% endif %}
                        {% if product.tax %}
                            {#                                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано селебрети <br> <span#}
{#                            class="font-weight-bold">@mariia123_hello</span>#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано покупателем <br> <span#}
{#                            class="font-weight-bold">Мария Дмитриенко</span>#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/cream.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                    <span class="productCard__price-old">344 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--new">NEW</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано специалистами <br> нашей лаборатории#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано селебрети <br> <span#}
{#                            class="font-weight-bold">@mariia123_hello</span>#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                    <span class="productCard__price-old">344 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано покупателем <br> <span#}
{#                            class="font-weight-bold">Мария Дмитриенко</span>#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/cream.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                    <span class="productCard__price-old">344 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--new">NEW</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано специалистами <br> нашей лаборатории#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productCard">#}
{#            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
{#            <div class="productCard__producer">#}
{#                <span class="productCard__producer-toggle">#}
{#                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
{#                       class="lazy productCard__producer-icon">#}
{#                </span>#}
{#                <p class="productCard__producer-text">#}
{#                    Средство создано селебрети <br> <span#}
{#                            class="font-weight-bold">@mariia123_hello</span>#}
{#                </p>#}
{#            </div>#}
{#            <a href="#" class="productCard__imgContainer">#}
{#                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
{#                     class="lazy productCard__img">#}
{#            </a>#}
{#            <div class="productCard__body">#}
{#                <div class="productCard__rating">#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
{#                    <span class="productCard__rating-el"></span>#}
{#                </div>#}
{#                <a href="#" class="productCard__type">Молочко для тела</a>#}
{#                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750#}
{#                    мл)</a>#}

{#                <div class="productCard__price">#}
{#                    <span class="productCard__price-actual">244 ₴</span>#}
{#                    <span class="productCard__price-old">344 ₴</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</section>