{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="/" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section stocksProducts">
            <div class="row">
                <div class="col-12">
                    <h1 class="section__title text-md-left text-center">
                        {#                        Готовые решения #}
                        {{ heading_title }}
                        <span class="productsQuantuty">продуктов {{ products|length }}</span></h1>
                </div>
                {{ column_left }}

                {% if column_left and column_right %}
                    {% set class = 'col-sm-6 col-xl-6 col-lg-5' %}
                {% elseif column_left or column_right %}
                    {% set class = 'col-xl-9 col-lg-8' %}
                {% else %}
                    {% set class = 'col-sm-12' %}
                {% endif %}
                <div class="{{ class }}">
                    <aside class="showFirst">
                        <div class="productFilters__toggle productFilters--toggle"></div>
                        <div class="showFirst__menu">
                            <div class="dropdown">
                                <button class="dropdown__toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown__pretext">Показать сначала:</span>
                                    <span class="dropdown__value">Новинки</span>
                                </button>
                                <div class="dropdown-menu">
                                    {% if sorts is not empty %}
                                        {% for sorts in sorts %}
                                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                <a class="dropdown-item active"
                                                   href="{{ sorts.href }}">{{ sorts.text }}</a>
                                                {#                                            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>#}
                                            {% else %}
                                                {#                                            <option value="{{ sorts.href }}">{{ sorts.text }}</option>#}
                                                <a class="dropdown-item" href="{{ sorts.href }}">{{ sorts.text }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {#                                    <a class="dropdown-item" href="#">Дешевые</a>#}
                                    {#                                    <a class="dropdown-item" href="#">Дорогие</a>#}
                                    {#                                    <a class="dropdown-item active" href="#">Новинки</a>#}
                                    {#                                    <a class="dropdown-item" href="#">Популярные</a>#}
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="stocksProducts__body">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-xl-4 col-6">
                                    <div class="productCard">
                                        <div class="productBig__quantityAndLike">
                                            <label class="like">
                                                <input type="checkbox" class="like__input">
                                                <span class="like__body"></span>
                                            </label>
                                        </div>
                                        <!-- знижка -->
                                        {#                                        <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                                        {% if product.is_receipt == 1 %}
                                            <div class="productCard__producer">
                                            <span class="productCard__producer-toggle">
                                              <img src="catalog/view/theme/makeme/image/icons/selebrity.svg"
                                                   alt="celebrity"
                                                   class="lazy productCard__producer-icon"/>
                                            </span>
                                                <p class="productCard__producer-text">
                                                    Средство создано селебрети <br>
                                                    {% if product.author_name %}
                                                        <span class="font-weight-bold">@{{ product.author_name }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        {% endif %}
                                        <a href="{{ product.href }}" class="productCard__imgContainer">
                                            <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                                 title="{{ product.name }}" class="lazy productCard__img">
                                        </a>
                                        <div class="productCard__body">
                                            <div class="productCard__rating">
                                                {% for i in 5 %}
                                                    {% if product.rating >= i %}
                                                        <span class="productCard__rating-el productCard__rating-el--full"></span>
                                                    {% else %}
                                                        <span class="productCard__rating-el"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <a href="{{ product.href }}"
                                               class="productCard__type">{{ product.name }}</a>
                                            <a href="{{ product.href }}"
                                               class="productCard__name">{{ product.description }}</a>

                                            {% if product.price %}
                                                <div class="productCard__price">
                                                    {% if not product.special %}
                                                        <span class="productCard__price-actual">{{ product.price }}</span>
                                                    {% else %}
                                                        <span class="productCard__price-actual">{{ product.special }}</span>
                                                        <span class="productCard__price-old">{{ product.price }}</span>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                            {#                                        {% if product.price %}#}
                                            {#                                            <p class="price">#}
                                            {#                                                {% if not product.special %}#}
                                            {#                                                    {{ product.price }}#}
                                            {#                                                {% else %}#}
                                            {#                                                    <span class="price-new">{{ product.special }}</span>#}
                                            {#                                                    <span class="price-old">{{ product.price }}</span>#}
                                            {#                                                {% endif %}#}
                                            {#                                                {% if product.tax %}#}
                                            {#                                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                                            {#                                                {% endif %}#}
                                            {#                                            </p>#}
                                            {#                                        {% endif %}#}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    {#                    <a href="#" class="button button--stroke button--reload stocks__loadMore">#}
                    {#                        <span class="button__icon"><i class="fas fa-sync-alt"></i></span>#}
                    {#                        <span class="button__text">Загрузить еще</span>#}
                    {#                    </a>#}
                    {% if pages is not empty %}
                        <nav class="pagination">
                            {% for i in 1..pages %}
                                <a href="#" class="pagination__el active">{{ i }}</a>
                            {% endfor %}
                        </nav>
                    {% endif %}
                </div>
            </div>
        </section>
        {{ content_bottom }}
    </div>
</main>
{{ footer }}

{#{{ header }}#}
{#<div id="information-contact" class="container">#}
{#  <ul class="breadcrumb">#}
{#    {% for breadcrumb in breadcrumbs %}#}
{#    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#  <div class="row">{{ column_left }}#}
{#    {% if column_left and column_right %}#}
{#    {% set class = 'col-sm-6' %}#}
{#    {% elseif column_left or column_right %}#}
{#    {% set class = 'col-sm-9' %}#}
{#    {% else %}#}
{#    {% set class = 'col-sm-12' %}#}
{#    {% endif %}#}
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <h1>{{ heading_title }}</h1>#}
{#      <h3>{{ text_location }}</h3>#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-body">#}
{#          <div class="row">#}
{#            {% if image %}#}
{#            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>#}
{#            {% endif %}#}
{#            <div class="col-sm-3"><strong>{{ store }}</strong><br />#}
{#              <address>#}
{#              {{ address }}#}
{#              </address>#}
{#              {% if geocode %}#}
{#              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>#}
{#              {{ telephone }}<br />#}
{#              <br />#}
{#              {% if fax %}#}
{#              <strong>{{ text_fax }}</strong><br>#}
{#              {{ fax }}#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              {% if open %}#}
{#              <strong>{{ text_open }}</strong><br />#}
{#              {{ open }}<br />#}
{#              <br />#}
{#              {% endif %}#}
{#              {% if comment %}#}
{#              <strong>{{ text_comment }}</strong><br />#}
{#              {{ comment }}#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      {% if locations %}#}
{#      <h3>{{ text_store }}</h3>#}
{#      <div class="panel-group" id="accordion">#}
{#        {% for location in locations %}#}
{#        <div class="panel panel-default">#}
{#          <div class="panel-heading">#}
{#            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>#}
{#          </div>#}
{#          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                {% if location.image %}#}
{#                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>#}
{#                {% endif %}#}
{#                <div class="col-sm-3"><strong>{{ location.name }}</strong><br />#}
{#                  <address>#}
{#                  {{ location.address }}#}
{#                  </address>#}
{#                  {% if location.geocode %}#}
{#                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>#}
{#                  {{ location.telephone }}<br />#}
{#                  <br />#}
{#                  {% if location.fax %}#}
{#                  <strong>{{ text_fax }}</strong><br>#}
{#                  {{ location.fax }}#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3">#}
{#                  {% if location.open %}#}
{#                  <strong>{{ text_open }}</strong><br />#}
{#                  {{ location.open }}<br />#}
{#                  <br />#}
{#                  {% endif %}#}
{#                  {% if location.comment %}#}
{#                  <strong>{{ text_comment }}</strong><br />#}
{#                  {{ location.comment }}#}
{#                  {% endif %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% endif %}#}
{#      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
{#        <fieldset>#}
{#          <legend>{{ text_contact }}</legend>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />#}
{#              {% if error_name %}#}
{#              <div class="text-danger">{{ error_name }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />#}
{#              {% if error_email %}#}
{#              <div class="text-danger">{{ error_email }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>#}
{#            <div class="col-sm-10">#}
{#              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>#}
{#              {% if error_enquiry %}#}
{#              <div class="text-danger">{{ error_enquiry }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          {{ captcha }}#}
{#        </fieldset>#}
{#        <div class="buttons">#}
{#          <div class="pull-right">#}
{#            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />#}
{#          </div>#}
{#        </div>#}
{#      </form>#}
{#      {{ content_bottom }}</div>#}
{#    {{ column_right }}</div>#}
{#</div>#}
{#{{ footer }}#}
