{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section itemscope itemtype="https://schema.org/Product" class="section component">
            <h1 itemprop="name" class="section__title">{{ component.name }}</h1>
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <figure class="component__card">
                        <div class="component__card-imgContainer">
                            <img itemprop="image" src="{{ component.thumb }}" alt="{{ component.name }}"
                                 class="lazy component__card-img">
                        </div>
                        <figcaption class="component__card-desc">
                            <ul class="component__card-info">
                                <li class="component__card-info-el">
                                    <span class="component__card-info-el-title">Наименование:</span>
                                    <span itemprop="alternateName"
                                          class="component__card-info-el-value">{{ component.name }}</span>
                                </li>
                                <li class="component__card-info-el">
                                    <span class="component__card-info-el-title">Тип:</span>
                                    <span itemprop="category" class="component__card-info-el-value">{{ component.category_name}}</span>
                                </li>
                                <li class="component__card-info-el">
                                    <span class="component__card-info-el-title">Международная номенклатура:</span>
                                    <span itemprop="alternateName" class="component__card-info-el-value">{{ component.sku }}</span>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                </div>
                <div itemprop="description" class="col-xl-9 col-lg-8">
                    <article itemscope itemtype="https://schema.org/Article"
                             class="component__about the_content_content">
                        {{ component.description }}
                        <span itemprop="author" class="d-none">Author</span>
                    </article>
                </div>
            </div>
            <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="d-none">
                <span itemprop="priceCurrency" content="UAH"></span>
                <span itemprop="price" content="0">0</span>
                <link itemprop="availability" href="https://schema.org/InStock"/>
            </div>
        </section>

        <section class="section">
            <div class="section__header d-flex align-items-center justify-content-between flex-wrap">
                <h2 class="section__title mr-4">Готовые решения с <a href="#"
                                                                     class="color-primary">“{{ component.name }}”</a>
                </h2>
                <a href="{{ catalog }}" class="showMore">Смотреть больше</a>
            </div>
            <div class="owl-carousel carousel-4els transparentProductCards">
                {% for product in products %}
                    <div class="productCard">
                        {#                    <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                        {% if product.is_receipt == 1 %}
                            <div class="productCard__producer">
                                            <span class="productCard__producer-toggle">
                                              <img src="catalog/view/theme/makeme/image/icons/selebrity.svg"
                                                   alt="celebrity"
                                                   class="lazy productCard__producer-icon"/>
                                            </span>
                                <p class="productCard__producer-text">
                                    Средство создано селебрети <br>
                                    {% if product.author_name %}
                                        <span class="font-weight-bold">@{{ product.author_name }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        <a href="#" class="productCard__imgContainer">
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" class="lazy productCard__img">
                        </a>
                        <div class="productCard__body">
                            <div class="productCard__rating">
                                {% for i in 5 %}
                                    {% if product.rating >= i %}
                                        <span class="productCard__rating-el productCard__rating-el--full"></span>
                                    {% else %}
                                        <span class="productCard__rating-el"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a href="{{ product.href }}" class="productCard__type">{{ product.name }}</a>
                            <a href="{{ product.href }}" class="productCard__name">{{ product.description }}</a>

                            <div class="productCard__price">
                                {% if not product.special %}
                                    <span class="productCard__price-actual">{{ product.price }}</span>
                                {% else %}
                                    <span class="productCard__price-actual">{{ product.special }}</span>
                                    <span class="productCard__price-old">{{ product.price }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        {{ content_bottom }}
    </div>
</main>
{{ footer }}
