{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="/" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <div class="section productBig">
            <div class="contentBlock productBig__main">
                <div class="productBig__type">Нормальная и комбинированая</div>
                <h2 class="productBig__name">{{ heading_title }}</h2>
                <div class="productBig__ratingAndFeedbacks">
                    <div class="productCard__rating">
                        {% for i in 5 %}
                            {% if product.rating >= i %}
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                            {% else %}
                                <span class="productCard__rating-el"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="productBig__feedbacks" href="#">2 отзыва</a>
                </div>

                <div class="contentBlock productBig__imgContainer">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    {% if thumb or images %}
                        <div class="owl-carousel productBig__imgCarousel">
                            {% if thumb %}
                                <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"
                                     class="lazy productBig__img">
                            {% endif %}
                            {% if images %}
                                {% for image in images %}
                                    <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"
                                         class="lazy productBig__img">
                                {% endfor %}
                            {% endif %}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                        </div>
                    {% endif %}
                </div>
                {% if price %}
                    <div class="productBig__price" data-price="{{ price }}">
                        {{ price }}
                    </div>
                {% endif %}
                <div class="productBig__quantityAndLike">
                    <div class="quantityEl">
                        {% if product.minimum is null %}
                            {% set product_minimum = 1 %}
                        {% else %}
                            {% set product_minimum = product.minimum %}
                        {% endif %}
                        <button type="button" class="quantityEl__minus">-</button>
                        <input type="number" value="1" min="{{ product_minimum }}" max="1000" class="quantityEl__input product_quantity">
                        <button type="button" class="quantityEl__plus">+</button>
                    </div>
                    <label class="like">
                        <input type="checkbox" class="like__input add_to_wishlist"
                               data-product_id="{{ product_id }}">
                        <span class="like__body"></span>
                    </label>
                </div>
                <div class="productBig__nav">
                    <a href="#"
                       class="button button--primary button--small add_to_cart"
                       data-product_id="{{ product_id }}"
                    >
                        {{ button_cart }}
                    </a>
                    <a href="#" class="link4">Изменить состав</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="contentBlock productBig__about">
                        {{ description }}
                        {#                        <h2 class="section__subtitle">Состав</h2>#}
                        {#                        <p class="productBig__about-compound">Базовый крем для сухой кожи лица, Экстракт кокоса,#}
                        {#                            Экстракт дыни,Экстракт шалфея, Эфирное масло черного перца.</p>#}

                        {#                        <div class="productBig__about-el">#}
                        {#                            <h3 class="productBig__about-el-title">Способ применения:#}
                        {#                            </h3>#}
                        {#                            <p class="productBig__about-el-text">Фито-крем рекомендуется использовать ежедневно. Нанося#}
                        {#                                утром и вечером на слегка влажную кожу лица и тела по массажным линиям. Дать#}
                        {#                                впитаться.</p>#}
                        {#                        </div>#}

                        {#                        <div class="productBig__about-el">#}
                        {#                            <h3 class="productBig__about-el-title">Описание действия продукта:#}
                        {#                            </h3>#}
                        {#                            <p class="productBig__about-el-text">Фито-крем рекомендуется использовать ежедневно. Нанося#}
                        {#                                утром и вечером на слегка влажную кожу лица и тела по массажным линиям. Дать#}
                        {#                                впитаться.</p>#}
                        {#                        </div>#}

                        {#                        <div class="productBig__about-el">#}
                        {#                            <h3 class="productBig__about-el-title">Условия и сроки хранения:#}
                        {#                            </h3>#}
                        {#                            <p class="productBig__about-el-text">Фито-крем рекомендуется использовать ежедневно. Нанося#}
                        {#                                утром и вечером на слегка влажную кожу лица и тела по массажным линиям. Дать#}
                        {#                                впитаться.</p>#}
                        {#                        </div>#}

                        {#                        <div class="collapse" id="infoCollapse">#}
                        {#                            <div class="colapse__body">#}
                        {#                                <div class="productBig__about-el">#}
                        {#                                    <h3 class="productBig__about-el-title">Условия и сроки хранения:#}
                        {#                                    </h3>#}
                        {#                                    <p class="productBig__about-el-text">Фито-крем рекомендуется использовать ежедневно.#}
                        {#                                        Нанося утром и вечером на слегка влажную кожу лица и тела по массажным линиям.#}
                        {#                                        Дать впитаться.</p>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <button class="button button--primary" type="button" data-toggle="collapse"
                                data-target="#infoCollapse" aria-expanded="false">
                            ЧИТАТЬ ПОЛНОСТЬЮ
                        </button>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-xl-4 col-mb-6 col-sm-6 col-6">
                            <div class="aboutComponents__el blue">
                    <span class="aboutComponents__el-imgContainer">
                      <img src="catalog/view/theme/makeme/image/component5.png" alt="#"
                           class="lazy aboutComponents__el-img">
                    </span>
                                <span class="aboutComponents__el-name">Экстракт лаванды</span>
                                <span class="aboutComponents__el-text">Является одним из лучших средств при угревой болезни: дезинфицирует воспаления, балансирует производство кожного сала (себума) и вместе с тем заживляет раны</span>
                            </div>
                        </div>
                        <div class="col-xl-4 col-mb-6 col-sm-6 col-6">
                            <div class="aboutComponents__el green">
                    <span class="aboutComponents__el-imgContainer">
                      <img src="catalog/view/theme/makeme/image/component5.png" alt="#"
                           class="lazy aboutComponents__el-img">
                    </span>
                                <span class="aboutComponents__el-name">Экстракт лаванды</span>
                                <span class="aboutComponents__el-text">Является одним из лучших средств при угревой болезни: дезинфицирует воспаления, балансирует производство кожного сала (себума) и вместе с тем заживляет раны</span>
                            </div>
                        </div>
                        <div class="col-xl-4 col-mb-6 col-sm-6 col-6">
                            <div class="aboutComponents__el pink">
                    <span class="aboutComponents__el-imgContainer">
                      <img src="catalog/view/theme/makeme/image/component5.png" alt="#"
                           class="lazy aboutComponents__el-img">
                    </span>
                                <span class="aboutComponents__el-name">Экстракт лаванды</span>
                                <span class="aboutComponents__el-text">Является одним из лучших средств при угревой болезни: дезинфицирует воспаления, балансирует производство кожного сала (себума) и вместе с тем заживляет раны</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="section__header d-flex align-items-center justify-content-between flex-wrap">
                <h2 class="section__title mr-4"><span class="color-primary">Просмотренные</span> ранее</h2>
                <a href="#" class="showMore">Смотреть больше</a>
            </div>
            <div class="owl-carousel carousel-4els transparentProductCards">
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--new">NEW</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано специалистами <br> нашей лаборатории
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/buyer.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--new">NEW</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/specialist.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано специалистами <br> нашей лаборатории
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"
                       class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="section createYours">
            <div class="createYours__title">Создай <span class="color-primary">свое!</span></div>
            <p class="createYours__text">Вместе с тобой мы создадим неповторимую косметику именно для тебя! Каждая
                баночка на 100% индивидуальна.</p>
            <a href="#" class="button button--stroke createYours__button">Создать средство</a>
        </aside>

    </div>

</main>
{{ footer }}

<script>
    jQuery(document).ready(function ($) {
        $('body').on('click', '.add_to_cart', function (e) {
            e.preventDefault();
            cart.add($(this).attr('data-product_id'), $('.product_quantity').val());
        });

        $('body').on('change', '.add_to_wishlist', function (e) {
            e.preventDefault();
            if(!$(this).is(':checked')){
                wishlist.remove($(this).attr('data-product_id'));
            }else{
                wishlist.add($(this).attr('data-product_id'));
            }
        });
    })
</script>