{{ header }}
<main class="page-content" id="product_page">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="/" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <div class="section productBig">
            <div class="contentBlock productBig__main">
                <div class="productBig__type">Нормальная и комбинированая</div>
                <h2 class="productBig__name">{{ heading_title }}</h2>
                <div class="productBig__ratingAndFeedbacks">
                    <div class="productCard__rating">
                        {% for i in 5 %}
                            {% if product.rating >= i %}
                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                            {% else %}
                                <span class="productCard__rating-el"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="productBig__feedbacks" href="#">2 отзыва</a>
                </div>

                <div class="contentBlock productBig__imgContainer">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    {% if thumb or images %}
                        <div class="owl-carousel productBig__imgCarousel">
                            {% if thumb %}
                                <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"
                                     class="lazy productBig__img">
                            {% endif %}
                            {% if images %}
                                {% for image in images %}
                                    <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"
                                         class="lazy productBig__img">
                                {% endfor %}
                            {% endif %}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                            {#                        <img src="catalog/view/theme/makeme/image/cream.png" alt="#" class="lazy productBig__img">#}
                        </div>
                    {% endif %}
                </div>
                {% if price %}
                    <div class="productBig__price" data-price="{{ price }}">
                        {{ price }}
                    </div>
                {% endif %}
                <div class="productBig__quantityAndLike">
                    <div class="quantityEl">
                        {% if product.minimum is null %}
                            {% set product_minimum = 1 %}
                        {% else %}
                            {% set product_minimum = product.minimum %}
                        {% endif %}

                        {% set min_btn_disabled = 'disabled' %}
                        {% set max_btn_disabled = '' %}
                        {% if quantity == 1 %}
                            {% set max_btn_disabled = 'disabled' %}
                        {% endif %}

                        <button {{ min_btn_disabled }} type="button" class="quantityEl__minus not_add_to_cart">-
                        </button>
                        <input
                                type="number"
                                value="1"
                                min="{{ product_minimum }}"
                                max="{{ quantity }}"
                                class="quantityEl__input product_quantity"
                                data-price="{{ price_ }}"
                                data-currency="{{ currency }}"
                        >
                        <button {{ max_btn_disabled }} type="button" class="quantityEl__plus not_add_to_cart">+</button>
                    </div>
                    <label class="like">
                        {% if logged %}
                            {% set liked ='' %}
                            {% if in_wishlist %}
                                {% set liked ='checked' %}
                            {% endif %}
                            <input type="checkbox" class="like__input add_to_wishlist" {{ liked }}
                                   data-product_id="{{ product_id }}">
                            <span class="like__body"></span>
                        {% else %}
                            <a href="#modalLogin" data-toggle="modal">
                                <input type="checkbox" class="like__input add_to_wishlist"
                                       data-product_id="{{ product_id }}">
                                <span class="like__body"></span>
                            </a>
                        {% endif %}
                    </label>
                </div>
                <div class="productBig__nav">
                    <a href="#"
                       class="button button--primary button--small add_to_cart"
                       data-product_id="{{ product_id }}"
                    >
                        {{ button_cart }}
                    </a>
                    {% if in_receipt %}
                        <a href="#" class="link4">Изменить состав</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="contentBlock productBig__about">
                        {{ description }}
                        <br/>
                        <br/>
                        <button class="button button--primary" type="button" data-toggle="collapse"
                                data-target="#infoCollapse" aria-expanded="false">
                            ЧИТАТЬ ПОЛНОСТЬЮ
                        </button>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        {% if components %}
                            {% for component in components %}
                                <div class="col-xl-4 col-mb-6 col-sm-6 col-6">
                                    <div class="aboutComponents__el blue">
                                <span class="aboutComponents__el-imgContainer">
                                  <img src="{{ component.thumb }}" alt="{{ component.name }}"
                                       class="lazy aboutComponents__el-img">
                                </span>
                                        <span class="aboutComponents__el-name">{{ component.name }}</span>
                                        <span class="aboutComponents__el-text">{{ component.description }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ looked_products }}

        {{ content_bottom }}
    </div>

</main>
{{ footer }}

{#<script>#}
{#    jQuery(document).ready(function ($) {#}
{#        $('body').on('click', '.add_to_cart', function (e) {#}
{#            e.preventDefault();#}
{#            cart.add($(this).attr('data-product_id'), $('.product_quantity').val());#}
{#        });#}

{#        $('body').on('change', '.add_to_wishlist', function (e) {#}
{#            e.preventDefault();#}
{#            if (!$(this).is(':checked')) {#}
{#                wishlist.remove($(this).attr('data-product_id'));#}
{#            } else {#}
{#                wishlist.add($(this).attr('data-product_id'));#}
{#            }#}
{#        });#}
{#    })#}
{#</script>#}