{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set i = 1 %}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ i }}">
                        </a>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>

        <section class="section">
            <div class="d-lg-none d-block">
                <h1 class="section__title text-md-left text-center">Блог</h1>

                <nav class="aboutComponents__nav">
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--advice active">Советы</a>
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--recipes">Рецепты</a>
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--news">Новости</a>
                </nav>
            </div>
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="blogArticle">
                        <h1 class="section__subtitle">{{ heading_title }}</h1>
                        <div class="blogItem__desc-header">
                            {% if category_name %}
                                <span class="blogItem__type blogItem__type--advice">{{ category_name }}</span>
                            {% endif %}
                            <span class="blogItem__date">{{ date_added }}</span><br/>
                        </div>
                        <div class="the_content_content">
                            {{ description }}
                        </div>
                    </div>
                    <aside class="blogArticleFooter">
                        <div class="blogArticleFooter__like">
                            <p class="blogArticleFooter__title">Понравилась статья?</p>
                            <div class="blogArticleFooter__like-body">
                                <label class="like">
                                    <input type="checkbox" {% if liked %} checked {% endif %} class="like__input" data-article_id="{{ article_id }}">
                                    <span class="like__body"></span>
                                </label>
                                <span class="blogArticleFooter__like-quantity">{{ likes }}</span>
                            </div>
                        </div>
                        <div class="blogArticleFooter__socials">
                            <p class="blogArticleFooter__title">Поделись статьей:</p>
                            <div class="blogArticleFooter__socials-body">
                                <a href="#" class="blogArticleFooter__socials-el"><i class="fab fa-facebook"></i></a>
                                <a href="#" class="blogArticleFooter__socials-el"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                    <div class="usefulArticles">
                        {% if articles|length > 0 %}
                            <h2 class="section__subtitle">Полезные статьи:</h2>
                            {% for article in articles %}
                                <div class="blogItem">
                                    <a class="blogItem__imgContainer" href="{{ article.href }}">
                                        <img src="{{ article.thumb }}" alt="{{ article.name }}"
                                             class="lazy blogItem__img">
                                    </a>
                                    <div class="blogItem__desc">
                                        <div class="blogItem__desc-header">
                                            <span class="blogItem__type blogItem__type--advice">{{ article.category_name }}</span>
                                            <time class="blogItem__date"
                                                  datetime="{{ article.date_added }}">{{ article.date_added }}</time>
                                        </div>
                                        <p class="blogItem__text border-0 mb-0 pb-0"><a
                                                    href="{{ article.href }}">{{ article.name }}</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h2 class="section__subtitle mt-4">Создай свое:</h2>
                        {% if constructor_article %}
                            <div class="blogItem">
                                <a class="blogItem__imgContainer" href="{{ constructor_article.href }}">
                                    <img src="{{ constructor_article.thumb }}"
                                         alt="{{ constructor_article.name }}" class="lazy blogItem__img">
                                </a>
                                <div class="blogItem__desc">
                                    <p class="blogItem__text border-0 mb-0 pb-0">
                                        <a href="{{ constructor_article.href }}">Создай свое й средство в онлайн
                                            лабаратории</a></p>
                                    <a href="{{ constructor }}" class="button button--stroke button--small">Создать
                                        средство</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        {{ content_bottom }}
    </div>
</main>
{{ footer }}