{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set counter = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ counter }}">
                        </a>
                    </li>
                    {% set counter = counter  + 1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Личный кабинет</h1>
            <div class="row">
                {{ menu }}
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="contentBlock lk__info">
                            <h2 class="lk__body-title">Личные и контактные данные</h2>
                            {% if error_name %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error_name }}
                                </div>
                            {% endif %}
                            {% if error_telephone %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error_telephone }}
                                </div>
                            {% endif %}
                            <form action="" method="POST" class="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form__field">
                                            <label class="form__label">Имя</label>
                                            <div class="form__field-body">
                                                <input type="text" name="firstname" class="form__field-input"
                                                       value="{{ firstname }}">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Фамилия</label>
                                            <div class="form__field-body">
                                                <input type="text" name="lastname" class="form__field-input"
                                                       value="{{ lastname }}">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Отчество</label>
                                            <div class="form__field-body">
                                                <input type="text" name="custom_field[account][middlename]"
                                                       class="form__field-input" value="{{ middlename }}">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Телефон</label>
                                            <div class="form__field-body">
                                                <input type="tel" name="telephone" class="form__field-input"
                                                       value="{{ telephone }}">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Дата рождения</label>
                                            <div class="form__field-body">
                                                <input type="text" name="custom_field[account][birthdate]"
                                                       class="form__field-input birthday"
                                                       value="{{ birthdate }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form__field">
                                            <label class="form__label">Email</label>
                                            <div class="form__field-body">
                                                <input type="email" name="email"
                                                       class="form__field-input form__field-input--password"
                                                       value="{{ email }}" readonly>
                                                <span class="form__field-edit" data-toggle="modal"
                                                      data-target="#modalChangeEmail"></span>
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Пароль</label>
                                            <div class="form__field-body">
                                                <input type="password" name="password"
                                                       class="form__field-input form__field-input--password"
                                                       value="{{ password }}" readonly>
                                                {#                                                <span class="form__field-passwordShow d-xl-flex d-none"></span>#}
                                                <span class="form__field-edit" data-toggle="modal"
                                                      data-target="#modalChangePassword"></span>
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Город</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input"
                                                       name="custom_field[account][city]" value="{{ city }}">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Адрес</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input"
                                                       name="custom_field[account][address]" value="{{ address }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="button button--primary form__submit">Сохранить
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ change_email }}
{{ change_email_success }}
{{ change_password }}
{{ change_password_success }}
{{ change_error }}
{{ footer }}