{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set counter = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ counter }}">
                        </a>
                    </li>
                    {% set counter = counter  + 1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Мои адреса</h1>
            <div class="row">
                {{ menu }}
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="contentBlock lk__address">
                            {% for address in addresses %}
                                <div class="lk__address-el">
                                    <label class="lk__address-el-main">
                                        <input type="radio" name="lk__address" class="lk__address-el-input"
                                               {% if address.is_default == 1 %}checked {% endif %}>
                                        <span class="lk__address-el-info">
                                        <span class="lk__address-el-info-el font-weight-bold">{{ address.firstname }} {{ address.lastname }}</span>
                                        <span class="lk__address-el-info-el">{{ address.address }}</span>
                                        <span class="lk__address-el-info-el">{{ address.city }}</span>
                                            {% if address.phone %}
                                                <span class="lk__address-el-info-el">тел. {{ address.phone }}</span>
                                            {% endif %}
                                        </span>
                                    </label>
                                    <a href="{{ address.update }}" class="lk__address-el-edit">Редактировать адрес</a>
                                </div>
                            {% endfor %}

                            <a href="{{ add }}" class="lk__address-el lk__address-el--add">Добавить новый адрес</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ footer }}