{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Личный кабинет</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>

            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Мои бонусы</h1>
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <aside class="lk__nav">
                        <div class="lk__nav-user">
                            <label class="lk__nav-user-avatar">
                                <input type="file" class="lk__nav-user-avatar-input">
                                <span class="lk__nav-user-avatar-body"></span>
                            </label>
                            <span class="lk__nav-user-info">
                            <span class="lk__nav-user-name">{{ customer.firstname }}</span>
                            <a href="mailto:{{ customer.email }}" class="lk__nav-user-email">{{ customer.email }}</a>
                            </span>
                        </div>
                        {{ menu }}
                    </aside>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="contentBlock lk__bonus">
                            <div class="lk__bonus-value">
                                <span class="lk__bonus-value-quantity">234</span>
                                <span class="lk__bonus-value-type">мои бонусы</span>
                            </div>
                            <p class="lk__bonus-text">Бонусными баллами можно оплатить до 30% от стоимости покупки.<br>
                                Не суммируется с другими акциями.</p>
                            <div class="lk__bonus-howMuch">1 бонус = 1 ₴</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ footer }}