{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set counter = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ counter }}">
                        </a>
                    </li>
                    {% set counter = counter  + 1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Мои рецепты</h1>
            <div class="row">
                {{ menu }}
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="lk__recipes">
                            <div class="contentBlock lk__recipes-bonus">
                                <div class="lk__recipes-bonus-toggle" data-toggle="collapse"
                                     data-target="#lk__recipes-bonus" aria-expanded="true" role="button">
                                    <div class="quantity">
                                        <span class="quantity__value">+234</span> бонуса
                                    </div>
                                </div>
                                <div class="collapse show" id="lk__recipes-bonus">
                                    <div class="lk__recipes-bonus-body">
                                        <div class="lk__recipes-bonus-body-title">Создавай рецепты-получай бонусы!</div>
                                        <p class="lk__recipes-bonus-body-text">Создавай средство для своей кожи, и если
                                            ты поймешь что хочешь поделимться этим рецептом со всем миром, то мы тебе
                                            поможем в этом! Сделай свой любимый состав доступным для заказов других
                                            пользователей и получай от каждогог заказа 100 баллов. Обменивай эти баллы
                                            на скидки!</p>
                                    </div>
                                </div>
                            </div>

                            {% for receipt in receipts %}
                                <div class="contentBlock lk__recipes-product">
                                    <div class="lk__recipes-product-main">
                                        <div class="lk__recipes-product-imgContainer">
                                            <img src="{{ receipt.thumb }}" alt="{{ receipt.name }}"
                                                 class="lazy lk__recipes-product-img">
                                        </div>
                                        <div class="lk__recipes-product-main-body">
                                            <div class="lk__recipes-product-info">
                                                <div class="productCard__rating">
                                                    {% for i in 5 %}
                                                        {% if receipt.rating >= i %}
                                                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                                                        {% else %}
                                                            <span class="productCard__rating-el"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="lk__recipes-product-bonus">+234 бонуса</div>
                                            </div>
                                            <h3 class="lk__recipes-product-title">{{ receipt.name }}</h3>
                                            <p class="lk__recipes-product-text">{{ receipt.description }}</p>
                                        </div>
                                    </div>
                                    <div class="lk__recipes-product-nav">
                                        <a href="{{ receipt.constructor }}"
                                           class="button button--primary lk__recipes-product-viewRecipe">Просмотреть
                                            рецепт</a>
                                        <a href="#" data-product_id="{{ receipt.product_id }}"
                                           class="lk__recipes-product-removeRecipe removeRecipe">Удалить рецепт</a>
                                        <label class="checkboxEl">
                                            <input
                                                    type="checkbox"
                                                    class="checkboxEl__input make_recipe_available"
                                                    {{ receipt.available_to_all ? 'checked' : '' }}
                                                    data-product_id="{{ receipt.product_id }}"
                                            >
                                            <span class="checkboxEl__body">Сделать рецепт доступным для заказов других пользователей</span>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ footer }}
<script>
    jQuery(document).ready(function ($) {
        $('body').on('click', '.removeRecipe', function (e) {
            e.preventDefault();
            if (confirm("Вы уверенны,что хотите удалить этот рецепт?")) {
                console.log('worked2');
                let button = $(this);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'index.php?route=constructor/constructor/delete-ajax',
                    data: {
                        'product_id': button.attr('data-product_id')
                    },
                    beforeSend: function (xhr) {
                        // form.find('.loader').show();
                    },
                    success: function (data) {
                        if (data.status === 'ok') {
                            console.log(data);
                            location.reload()
                        } else {
                            console.log(data);
                        }
                    }
                });
            }
        });

        $('body').on('change', '.make_recipe_available', function (e) {
            e.preventDefault();
            let button = $(this);
            let checked = button.prop('checked');

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: 'index.php?route=constructor/constructor/make-public-ajax',
                data: {
                    product_id: button.attr('data-product_id'),
                    public: checked ? 1 : 0
                },
                beforeSend: function (xhr) {
                    // form.find('.loader').show();
                },
                success: function (data) {
                    // if (data.status === 'ok') {
                    //     console.log(data);
                    //     location.reload()
                    // } else {
                    console.log(data);
                    // }
                }
            });
        });
    });
</script>