{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    {% set counter = 1 %}
                    {#                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
                    <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.href }}" class="page-breadcrumbs__el-link">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ counter }}">
                        </a>
                    </li>
                    {% set counter = counter  + 1 %}
                {% endfor %}
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Список желаний</h1>
            <div class="row">
                {{ menu }}
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="lk__desires">
                            <nav>
                                <ul class="contentBlock lk__desires-nav">
                                    <li class="lk__desires-nav-el active" data-target="all">
                                        Все {{ products.length }}</li>
{#                                    <li class="lk__desires-nav-el" data-target="type1">Шампунь 1</li>#}
{#                                    <li class="lk__desires-nav-el" data-target="type2">Крем для лица 2</li>#}
                                </ul>
                            </nav>
                            <div class="contentBlock lk__desires-body">
                                <div class="row">
                                    {% for product in products %}
                                        <div class="col-xl-4 col-6">
                                            <div class="productCard" data-type="type2">
                                                <span class="wishCard__remove" data-product_id="{{ product.product_id }}"></span>
{#                                                <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                                                <div class="productCard__producer">
                                                <span class="productCard__producer-toggle">
                                                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="selebrity"
                                                       class="lazy productCard__producer-icon">
                                                </span>
                                                    {% if product.is_receipt %}
                                                        <p class="productCard__producer-text">
                                                            Средство создано селебрети <br> {% if product.author_name %}
                                                                <span class="font-weight-bold">@{{ product.author_name }}</span>
                                                            {% endif %}
                                                        </p>
                                                    {% endif %}
                                                </div>
                                                <a href="{{ product.href }}" class="productCard__imgContainer">
                                                    <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                                         class="lazy productCard__img">
                                                </a>
                                                <div class="productCard__body">
                                                    <div class="productCard__rating">
                                                        {% for i in 5 %}
                                                            {% if product.rating >= i %}
                                                                <span class="productCard__rating-el productCard__rating-el--full"></span>
                                                            {% else %}
                                                                <span class="productCard__rating-el"></span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <a href="{{ product.href }}"
                                                       class="productCard__type">{{ product.name }}</a>
                                                    <a href="{{ product.href }}"
                                                       class="productCard__name">{{ product.description }}</a>

                                                    <div class="productCard__price">
                                                        {% if not product.special %}
                                                            <span class="productCard__price-actual">{{ product.price }} ₴</span>
                                                        {% else %}
                                                            <span class="price-new">{{ product.special }}</span> <span
                                                                class="price-old">{{ product.price }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <a href="#"
                                                       class="button button--primary button--small button--buy add_to_cart_from_wishlist"
                                                       data-product_id="{{ product.product_id }}"
                                                    >Купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {#                                    <div class="col-xl-4 col-6">#}
                                    {#                                        <div class="productCard" data-type="type2">#}
                                    {#                                            <span class="productCard__remove"></span>#}
                                    {#                                            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                                    {#                                            <div class="productCard__producer">#}
                                    {#                                                <span class="productCard__producer-toggle">#}
                                    {#                                                  <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
                                    {#                                                       class="lazy productCard__producer-icon">#}
                                    {#                                                </span>#}
                                    {#                                                <p class="productCard__producer-text">#}
                                    {#                                                    Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>#}
                                    {#                                                </p>#}
                                    {#                                            </div>#}
                                    {#                                            <a href="#" class="productCard__imgContainer">#}
                                    {#                                                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
                                    {#                                                     class="lazy productCard__img">#}
                                    {#                                            </a>#}
                                    {#                                            <div class="productCard__body">#}
                                    {#                                                <div class="productCard__rating">#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el"></span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="productCard__type">Молочко для тела</a>#}
                                    {#                                                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и#}
                                    {#                                                    розмарина (750 мл)</a>#}

                                    {#                                                <div class="productCard__price">#}
                                    {#                                                    <span class="productCard__price-actual">244 ₴</span>#}
                                    {#                                                    <span class="productCard__price-old">344 ₴</span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="button button--primary button--small button--buy">Купить</a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-xl-4 col-6">#}
                                    {#                                        <div class="productCard" data-type="type2">#}
                                    {#                                            <span class="productCard__remove"></span>#}
                                    {#                                            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                                    {#                                            <div class="productCard__producer">#}
                                    {#                            <span class="productCard__producer-toggle">#}
                                    {#                              <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
                                    {#                                   class="lazy productCard__producer-icon">#}
                                    {#                            </span>#}
                                    {#                                                <p class="productCard__producer-text">#}
                                    {#                                                    Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>#}
                                    {#                                                </p>#}
                                    {#                                            </div>#}
                                    {#                                            <a href="#" class="productCard__imgContainer">#}
                                    {#                                                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#"#}
                                    {#                                                     class="lazy productCard__img">#}
                                    {#                                            </a>#}
                                    {#                                            <div class="productCard__body">#}
                                    {#                                                <div class="productCard__rating">#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el"></span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="productCard__type">Молочко для тела</a>#}
                                    {#                                                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и#}
                                    {#                                                    розмарина (750 мл)</a>#}

                                    {#                                                <div class="productCard__price">#}
                                    {#                                                    <span class="productCard__price-actual">244 ₴</span>#}
                                    {#                                                    <span class="productCard__price-old">344 ₴</span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="button button--primary button--small button--buy">Купить</a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-xl-4 col-6">#}
                                    {#                                        <div class="productCard" data-type="type1">#}
                                    {#                                            <span class="productCard__remove"></span>#}
                                    {#                                            <div class="productCard__feature productCard__feature--stock">-10%</div>#}
                                    {#                                            <div class="productCard__producer">#}
                                    {#                            <span class="productCard__producer-toggle">#}
                                    {#                              <img src="catalog/view/theme/makeme/image/icons/selebrity.svg" alt="#"#}
                                    {#                                   class="lazy productCard__producer-icon">#}
                                    {#                            </span>#}
                                    {#                                                <p class="productCard__producer-text">#}
                                    {#                                                    Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>#}
                                    {#                                                </p>#}
                                    {#                                            </div>#}
                                    {#                                            <a href="#" class="productCard__imgContainer">#}
                                    {#                                                <img src="catalog/view/theme/makeme/image/cream.png" alt="#"#}
                                    {#                                                     class="lazy productCard__img">#}
                                    {#                                            </a>#}
                                    {#                                            <div class="productCard__body">#}
                                    {#                                                <div class="productCard__rating">#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el productCard__rating-el--full"></span>#}
                                    {#                                                    <span class="productCard__rating-el"></span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="productCard__type">Молочко для тела</a>#}
                                    {#                                                <a href="#" class="productCard__name">Молочко для тела с ароматом розы и#}
                                    {#                                                    розмарина (750 мл)</a>#}

                                    {#                                                <div class="productCard__price">#}
                                    {#                                                    <span class="productCard__price-actual">244 ₴</span>#}
                                    {#                                                    <span class="productCard__price-old">344 ₴</span>#}
                                    {#                                                </div>#}
                                    {#                                                <a href="#" class="button button--primary button--small button--buy">Купить</a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ footer }}