<div class="modal fade modalBasket" id="modalBasket">
    <div class="modal-dialog">
        <div class="modal-content">
            {% if products or vouchers %}
                <span data-dismiss="modal" class="modal__close"></span>
                <h3 class="section__subtitle ">В корзине {{ text_items }} товар(-а/-ов)</h3>
                <div class="basket basket--aside pt-0">
                    <div class="lk__order-products">
                        {% for product in products %}
                            <div class="lk__order-product">
                                <div class="lk__recipes-product-main">
                                    <div class="lk__recipes-product-imgContainer">
                                        {% if product.thumb %}
                                        <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                             title="{{ product.name }}" class="lazy lk__recipes-product-img">
                                        {% endif %}
                                    </div>
                                    <div class="lk__recipes-product-main-body">
                                        <h3 class="lk__recipes-product-title">{{ product.name }}</h3>
                                        <p class="lk__recipes-product-text">{{ product.description }}</p>
                                    </div>
                                </div>
                                <div class="lk__order-additionalEls">
                                    <div class="quantityEl">
                                        <button type="button" class="quantityEl__minus">-</button>
                                        <input type="number" value="{{ product.quantity }}" min="1" max="1000" class="quantityEl__input">
                                        <button type="button" class="quantityEl__plus">+</button>
                                    </div>
                                    <div class="lk__order-price">
                                        <span class="lk__order-price-value"
                                              data-price="{{ product.unit_price }}"
                                              data-currency="{{ product.currency }}"
                                              data-cart_id="{{ product.cart_id }}"
                                        >
                                            {{ product.total }}
                                        </span>
                                    </div>
                                    <div class="productCard__remove" data-product_id="{{ product.cart_id }}" onclick="cart.remove({{ product.cart_id }});"></div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for voucher in vouchers %}
                            {#                        <tr>#}
                            {#                            <td class="text-center"></td>#}
                            {#                            <td class="text-left">{{ voucher.description }}</td>#}
                            {#                            <td class="text-right">x&nbsp;1</td>#}
                            {#                            <td class="text-right">{{ voucher.amount }}</td>#}
                            {#                            <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>#}
                            {#                        </tr>#}
                        {% endfor %}
                        {#                    <div class="lk__order-product">#}
                        {#                        <div class="lk__recipes-product-main">#}
                        {#                            <div class="lk__recipes-product-imgContainer">#}
                        {#                                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy lk__recipes-product-img">#}
                        {#                            </div>#}
                        {#                            <div class="lk__recipes-product-main-body">#}
                        {#                                <h3 class="lk__recipes-product-title">Молочко для тела </h3>#}
                        {#                                <p class="lk__recipes-product-text">Базовый крем для сухой кожи лица, Экстракт кокоса, Экстракт дыни,Экстракт шалфея, Эфирное масло черного перца.</p>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="lk__order-additionalEls">#}
                        {#                            <div class="quantityEl">#}
                        {#                                <button type="button" class="quantityEl__minus">-</button>#}
                        {#                                <input type="number" value="1" min="1" max="1000" class="quantityEl__input">#}
                        {#                                <button type="button" class="quantityEl__plus">+</button>#}
                        {#                            </div>#}
                        {#                            <div class="lk__order-price"><span class="lk__order-price-value" data-value="237">237</span>₴</div>#}
                        {#                            <div class="productCard__remove"></div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div class="lk__order-product">#}
                        {#                        <div class="lk__recipes-product-main">#}
                        {#                            <div class="lk__recipes-product-imgContainer">#}
                        {#                                <img src="catalog/view/theme/makeme/image/shampoo.png" alt="#" class="lazy lk__recipes-product-img">#}
                        {#                            </div>#}
                        {#                            <div class="lk__recipes-product-main-body">#}
                        {#                                <h3 class="lk__recipes-product-title">Молочко для тела </h3>#}
                        {#                                <p class="lk__recipes-product-text">Базовый крем для сухой кожи лица, Экстракт кокоса, Экстракт дыни,Экстракт шалфея, Эфирное масло черного перца.</p>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="lk__order-additionalEls">#}
                        {#                            <div class="quantityEl">#}
                        {#                                <button type="button" class="quantityEl__minus">-</button>#}
                        {#                                <input type="number" value="1" min="1" max="1000" class="quantityEl__input">#}
                        {#                                <button type="button" class="quantityEl__plus">+</button>#}
                        {#                            </div>#}
                        {#                            <div class="lk__order-price"><span class="lk__order-price-value" data-value="237">237</span>₴</div>#}
                        {#                            <div class="productCard__remove"></div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                    </div>
                </div>
                {% for total in totals %}
{#                    <tr>#}
{#                        <td class="text-right"><strong>{{ total.title }}</strong></td>#}
{#                        <td class="text-right">{{ total.text }}</td>#}
{#                    </tr>#}
                    <div class="lk__order-sum-el sum">
                        <span class="lk__order-sum-el-type">{{ total.title }}</span>
                        <span class="lk__order-sum-el-value">{{ total.text }}</span>
                    </div>
                {% endfor %}

                <a href="{{ shopping_cart }}" class="button button--primary button--small" type="button">перейти В козину</a>
            {% else %}
                <span data-dismiss="modal" class="modal__close"></span>
                <h3 class="section__subtitle"><span class="color-primary">Упс!</span> В твоей корзине пусто :( </h3>
                <p class="text--simple">Воспользуйся <a href="#" class="color-primary">Готовыми решениями</a> <br>или
                    <a href="#" class="color-primary"> Создай свое уникальное средство</a></p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $('body').on('click', '.productCard__remove', function (e) {
            e.preventDefault();
            cart.remove($(this).attr('data-product_id'));
        });
    })
</script>
