<div class="productFilters__el filter_categories_block">
    <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el0"
            aria-expanded="true">
        ГРУППА ТОВАРОВ
    </button>
    <div class="collapse productFilters__el-collapse show" id="productFilters__el0">
        <div class="productFilters__el-body">
            {% set counter = 0 %}
            {% for category in categories %}
                {% if counter < 7 %}
                    <label class="checkboxEl">
                        <input
                                type="checkbox"
                                class="checkboxEl__input"
                                checked
                                value="{{ category.category_id }}"
                                data-category_id="{{ category.category_id }}"
                        />
                        <span class="checkboxEl__body">{{ category.name }}</span>
                    </label>
                {% endif %}
                {% set counter = counter + 1 %}
            {% endfor %}

            {% if categories|length > 7 %}
                <div class="productFilters__el-innerCollapse">
                    <button class="link1 productFilters__el-innerCollapse-toggle collapsed" type="button"
                            data-toggle="collapse" data-target="#productFilters__el-innerCollapse1"
                            aria-expanded="false">
                        Показать все
                    </button>
                    <div class="collapse productFilters__el-innerCollapse-collapse"
                         id="productFilters__el-innerCollapse1">
                        {% for category in categories|slice(7) %}
                            <label class="checkboxEl">
                                <input
                                        type="checkbox"
                                        class="checkboxEl__input"
                                        value="{{ category.category_id }}"
                                        checked
                                        data-category_id="{{ category.category_id }}"
                                />
                                <span class="checkboxEl__body">{{ category.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>