{{ header }}
<main class="page-content" id="checkout_cart_page">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Корзина</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section checkout">
            <h1 class="section__title">Товаров в корзине: {{ text_items }}</h1>
            <div class="checkout__info">
                <span class="font-weight-bold">Бесплатная</span> доставка на отделение от <span
                        class="font-weight-bold">600 гривен.</span>
            </div>
            <div class="contentBlock basket">
                <div class="lk__order-body">
                    <div class="lk__order-products">
                        {% for product in products %}
                            <div class="lk__order-product">
                                <div class="lk__recipes-product-main">
                                    <div class="lk__recipes-product-imgContainer">
                                        <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                             title="{{ product.name }}" class="lazy lk__recipes-product-img">
                                    </div>
                                    <div class="lk__recipes-product-main-body">
                                        <h3 class="lk__recipes-product-title">{{ product.name }}</h3>
                                        <p class="lk__recipes-product-text">{{ product.description }}</p>
                                    </div>
                                </div>
                                <div class="lk__order-additionalEls">
                                    <div class="quantityEl">
                                        {% set max_btn_disabled = '' %}
                                        {% set min_btn_disabled = '' %}
                                        {% if product.quantity == 1 %}
                                            {% set min_btn_disabled = 'disabled' %}
                                        {% endif %}

                                        {% if product.quantity == product.max %}
                                            {% set max_btn_disabled = 'disabled' %}
                                        {% endif %}
                                        <button {{ min_btn_disabled }} type="button" class="quantityEl__minus">-
                                        </button>
                                        <input type="number" value="{{ product.quantity }}" min="1"
                                               max="{{ product.max }}"
                                               class="quantityEl__input">
                                        <button {{ max_btn_disabled }} type="button" class="quantityEl__plus">+</button>
                                    </div>
                                    <div class="lk__order-price">
                                        <span class="lk__order-price-value"
                                              data-value="{{ product.price_ }}"
                                              data-currency="{{ product.currency }}">{{ product.total }}</span>
                                    </div>
                                    <div class="lk__order-nav">
                                        <div class="like">
                                            <label class="like__button">
                                                <input type="checkbox" class="like__input">
                                                <span class="like__body"></span>
                                            </label>
                                        </div>
                                        <div class="productCard__remove" onclick="cart.remove({{ product.cart_id }}, 'cart');" data-product_id="{{ product.cart_id }}"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="lk__order-sum">
                        <div class="lk__order-sum-group">
                            <form action="#" class="form form__promocode">
                                <div class="form__field">
                                    <div class="form__field-body">
                                        <input type="text" class="form__field-input"
                                               placeholder="Промокод или подарочный сертификат">
                                    </div>
                                </div>
                                <button class="button form__promocode-submit"
                                        type="submit"
                                        disabled
                                        data-amount="{{ amount }}"
                                        data-currency="{{ currency }}"
                                >
                                    <span class="d-lg-block d-none">Применить</span>
                                    <span class="d-lg-none d-block">Ок</span>
                                </button>
                            </form>
                        </div>
                        <div class="lk__order-sum-group">
                            <div class="lk__order-sum-el">
                                <span class="lk__order-sum-el-type">Сумма заказа</span>
                                <span class="lk__order-sum-el-value total_span">{{ totals|first.text }}</span>
                            </div>
                            <div class="lk__order-sum-el color-secondary">
                                <span class="lk__order-sum-el-type">Скидка</span>
                                <span class="lk__order-sum-el-value voucher_value">0₴</span>
                            </div>
                            <div class="lk__order-sum-el sum">
                                <span class="lk__order-sum-el-type">Всего к оплате</span>
                                <span class="lk__order-sum-el-value total_span total_span_final">{{ totals.1.text }}</span>
                            </div>
                            <div class="lk__order-sum-group-buttons">
                                <a href="{{ checkout }}" class="button button--primary">Оформить заказ</a>
                                <a href="{{ catalog }}" class="link2">Продолжить покупки</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ticker">
              <span class="ticker__el">Нет парабенов</span>
              <span class="ticker__el">натуральные компоненты</span>
              <span class="ticker__el">Нет химии</span>
              <span class="ticker__el">Современная лаборатория</span>
              <span class="ticker__el">Современна</span>
            </div> -->

        </section>
        <div class="owl-carousel ticker">
            <span class="ticker__el">Нет парабенов</span>
            <span class="ticker__el">натуральные компоненты</span>
            <span class="ticker__el">Нет химии</span>
            <span class="ticker__el">Современная лаборатория</span>
            <span class="ticker__el">Нет парабенов</span>
            <span class="ticker__el">натуральные компоненты</span>
            <span class="ticker__el">Нет химии</span>
            <span class="ticker__el">Современная лаборатория</span>
        </div>
    </div>
</main>
{{ footer }}